/* Common */
.main-header {
    opacity: 0.8;
    margin: 0 auto 0 auto;
    min-height: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

/* Navigation */
.main-menu {
    font-weight: bold;
}

.main-menu .logo img {
    width: 100px;
    height: 100px;
    margin: 0 5em 0 0;
}

.main-menu ul li {
    width: 120px;
    list-style-type: none;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}

.banner-img {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

#timeofday {
    background-image: linear-gradient(0deg, rgba(251, 215, 139, 1) 0%, rgba(118,213, 245, 1) 100%);
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    margin-top: 600px;
    text-align: center;
    
}
#timeofday #clock {
    color: #125688;
}


/* Home */
#home .banner-img {
    background-image: url("images/cliff_ocean.jpg");
}

/* Main */
main {
    font-family: Arial, Helvetica, sans-serif;
}
main .mainTB {
    display: grid;
}
main .mainTB div {
    border: 2px solid lightgrey;
    margin: 1em;
}
main h1 {
    font-weight: bold;
    color: #9ed034;
    padding: 40px 50px 10px 50px;
    text-align: center;
}
main h2 {
    padding: 20px;
    text-align: center;
    text-wrap: balance;
}
main p {
    padding: 10px 30px;
    text-align: justify;
}

/* Partners */
#partners {
    width: 100%;
    display: grid;
    justify-items: center;
    background-color: #4288C3;
}
#partners .partner {
    height: 10em;
    width: 10em;
    margin: 1em 0.5em 1em 0.5em;
    padding: 2em 2em;
    background-color: #fff;
    border-radius: 100%;
}
#partners .partner img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 1em 3.5em 1em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2em;
    float: right;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125668;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer #disclaimer {
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}

/* Cliffs */
#cliffs .banner-img {
    background-image: url("images/forest_cliff.jpg");
}
#cliffs main .cliff-snapshots {
    text-align: center;
    background-color: #fff;
    width: 1200px;
    padding: 0 50px 50px 0;
    margin: 0 auto;
}
#cliffs main .cliff-snapshots ul li {
    display: inline-block;
    margin: 15px 15px;
}
#cliffs main .cliff-snapshots ul .snapshot img {
    width: 480px;
    height: 230px;
}
#cliffs main .cliff-snapshots ul .snapshot .image-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background-color: #852B1B;
}

/* Activities */
#activities .banner-img {
    background-image: url("images/runfly.jpg");
}
#activityTable {
    margin-top: 40px;
}

#activityTable caption {
    caption-side: top;
    text-align: center;
    background: #852B1B;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}
#activityTable thead {
    background-color: #BDE1FF;
}
#activityTable thead th:first-child {
    width: 125px;
    height: 50px;
    background: #4977D1;
    color: #fff;
}
#activityTable tbody {
    background: #EEFFE6;
    text-align: center;
}
#activityTable th, #activityTable td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #852B1B;

}

#activityTable th {
    font-weight: bold;
    background: #BDE1FF;
}

.selectable:hover {
    cursor: pointer;
}
.unselectable {
    background-color: lightgrey;
}
.selected {
    background-color: #29AB87;
    color: #fff;
    font-weight: bold;
}

#activities main #displaySelected {
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    margin: 0 auto 0 auto;
    width: 700px;
    border: 2px solid #29AB87;
    padding: 0.75em;
}

#activities main #displaySelected #result {
    display: inline-block;
    margin: 0;
    width: 500px;
}

#activities main #displaySelected #sendinfo {
    display: flex;
    justify-content: flex-end;
    height: 25px;
}

#activities main #result {
    min-height: 50px;
    width: 300px;
    padding: 0;
}

#activities main #result h4 {
    margin-bottom: 1em;
    font-size: 1.15em;
}

#activities main #displaySelected #sendinfo input[type="email"] {
    width: 200px;
    margin-right: 10px;
}

/* Contact */
#contact .banner-img {
    background-image: url("images/cliff_rock.jpg");
}

/* Contact Info */
.contactinfo {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    margin-top: 30px;
}
.contactinfo span:first-child {
    font-weight: bold;
    margin-right: 5px;
}
.contactinfo .phone {
    margin-bottom: 10px;
}

/* Contact Form */
#contact form {
    padding: 30px 50px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
}
fieldset {
    border: 2px solid #9ed034;
}
fieldset legend {
    color: #4977D1;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
    width: 200px;
}
label {
    margin-left: 15px;
    font-weight: bold;
}
input[type="text"],
input[type="email"] {
    height: 1.5em;
    max-width: 500px;
    width: 80%;
    margin-left: 15px;
    margin-bottom: 20px;
}
input[type="radio"] {
    width: 12px;
    margin: 0 5px 30px 15px;
}
form .selectmenu select {
    display: block;
    width: 150px;
    margin: 0 15px 30px 15px;
    text-align: center;
}
form .commentbox textarea {
    display: block;
    margin-left: 15px;
    max-width: 500px;
    width: 80%;
    resize: none;
}

form .randomcode {
    display: inline-block;
}
form .randomcode input {
    margin-top: 20px;
    height: 2em;
    width: 130px;
    float: left;
    margin: 20px 20px 0 250px;
}
form .randomcode #codes {
    padding: 10px;
    background-color: lightgrey;
    width: 100px;
    text-align: center;
    float: left;
    margin-top: 15px;
}

form #submit {
    color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 150px;
    margin-left: 350px;
    margin-bottom: 10px;
}
.fa-paper-plane {
    margin-right: 5px;
    
}

/* Media Queries */
/* Navbar: collapse for lg- viewport */
@media (max-width: 992px) {
    .main-menu {
        width: 400px;
    }
    .logo {
        margin-top: -14px;
    }
    .main-menu ul {
        margin-left: 245px;
    }
    .main-menu ul li {
        line-height: 70px;
        background-color:rgb(255, 255, 255);
        border-bottom: 1px solid rgba(202, 204, 202);
    }
}

/* random code: adjust left margin for sm and xs viewport */
@media (max-width: 768px) {
    form .randomcode input {
        margin-left: 210px;
    }
    form #submit {
        margin-left: 310px;
    }
}
@media (max-width: 576px) {
    form .randomcode input {
        margin-left: 70px;
    }
    form #submit {
        margin-left: 170px;
    }
}

/* Partners: 2, 3, 6 cols for sm, md, lg+ viewport respectively */
@media (min-width: 576px) {
    #partners {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    #partners {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 992px) {
    #partners {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Main Text Box: 2 cols for md+ viewport */
@media (min-width: 768px) {
    .mainTB {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Nondisclaimer: stack and thin for md- viewport */
@media (max-width: 768px) {
    footer #nondisclaimer {
        display: grid;
        justify-items: center;
    }
    footer #nondisclaimer .copy {
        padding: 2em 0 0 0;
    }
}
